@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #f5f7fb;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 3rem;
}

.container {
  background-image: url("../public/images/blob-yellow.png"),
    url("../public/images/blob-blue.png");
  background-repeat: no-repeat;
  background-position: right top, left bottom;
  background-attachment: fixed;
}

.main--quiz {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.quiz {
  min-width: 500px;
  max-width: 600px;
  /* text-align: left; */
  margin: 1rem 0;
  /* align-items: center; */
}

.quiz--header {
  color: #293264;
}

.quiz--answer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.quiz--answer__btn {
  border: 0.794239px solid #4d5b9e;
  border-radius: 6px;
  color: #293264;
  min-height: 1.5rem;
  max-width: 7rem;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  max-height: 6rem;
}

.picked {
  background-color: #d6dbf5;
  border-color: #f5f7fb;
}

.submit,
.start,
.try-again {
  width: 200px;
  height: 50px;
  background-color: #4d5b9e;
  color: #fff;
  border: none;
  border-radius: 5px;
  align-self: center;
}

.correct-answer,
.need-choose {
  background-color: #94d7a2;
  border-color: #94d7a2;
}

.wrong-answer {
  background-color: #f8bcbc;
}

.submitted {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start {
  width: 250px;
  align-self: center;
  margin: auto;
}

.blur {
  opacity: 0.6;
}
